navbar {
    background-color: #2b9ea6;
}

.navbar-brand,
#title-foot {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

#title-body{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }

#navtext,
.navbar-brand,
.nav-link {
    color: white;
}

#quienes-somos,
#destacados,
#contacto {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

#icon-background {
    background-color: #2b9ea6;
    padding: 5px;
}

#horizontal-line {
    width: 95%;
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
}


.card-color {
    background-color: #2b9ea6;
    color: white;
}

#footfoot {
    background-color: #2b9ea6;
    color: white;
    padding: 30px;
}

#brands,
a,
a:hover,
a:active,
a:visited,
i {
    color: white;
}